<!DOCTYPE html>
<html lang="en">

<%- include('head') %>
  <%- include('navbar') %>
    <!-- About Start -->
    <div class="container-fluid bg-secondary p-0">
      <div class="row g-0">
        <div class="col-lg-6 py-6 px-5">
          <h1 class="display-5 mb-4">Welcome To <span class="text-primary">Ferren Dashboard</span></h1>
          <h4 class="text-primary mb-4">A multipurpose bot with 70+ module's packed</h4>
          <p class="mb-4"></p>
          <a href="https://discord.com/oauth2/authorize?client_id=1064420967666954280&permissions=1513962695871&scope=bot%20applications.commands"
            class="btn btn-primary py-md-3 px-md-5 rounded-pill">Invite me!</a>
          <a href="https://discord.gg/4TeeFAdnuD" class="btn btn-primary py-md-3 px-md-5 rounded-pill">Support
            Server!</a>
          <a href="/changelogs" class="btn btn-primary py-md-3 px-md-5 rounded-pill">Changelogs!</a>
          <a href="servers" class="btn btn-primary py-md-3 px-md-5 rounded-pill">Servers!</a>
        </div>
        <div class="col-lg-6">
          <div class="h-100 d-flex flex-column justify-content-center bg-primary p-5">
            <img class="imageferren"
              src="https://cdn.discordapp.com/avatars/1064420967666954280/92f9ff369b1d58d31b6de4458b7c3db4.webp?size=1024">
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->


    <!-- Services Start -->
    <div class="container-fluid pt-6 px-5">
      <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 mb-0">Feature's!</h1>
        <hr class="w-25 mx-auto bg-primary">
      </div>
      <div class="row g-5">
        <div class="col-lg-4 col-md-6">
          <div class="service-item bg-secondary-2">
            <div class="glow-wrap">
              <i class="glow"></i>
            </div>
            <div class="content text-center px-5">
              <div class="icon-wrapper d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                <i class="fa fa-user-friends fa-2x"></i>
              </div>
              <h3 class="mb-3">Friendly Hub</h3>
              <p class="mb-0">Our main discord server and our Developer are very friendly and will be kind to help you out!</p>
            </div>
          </div>
        </div>     
        <div class="col-lg-4 col-md-6">
          <div class="service-item bg-secondary-2">
            <div class="glow-wrap">
              <i class="glow"></i>
            </div>
            <div class="content text-center px-5">
              <div class="icon-wrapper d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                <i class="fa fa-chart-bar fa-2x"></i>
              </div>
              <h3 class="mb-3">24/7</h3>
              <p class="mb-0">Our bot is completely 24/7! if any downtime noticed please report to Ferren's Hub.!</p>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6">
          <div class="service-item bg-secondary-2">
            <div class="glow-wrap">
              <i class="glow"></i>
            </div>
            <div class="content text-center px-5">
              <div class="icon-wrapper d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                <i class="fa fa-clipboard-list fa-2x"></i>
              </div>
              <h3 class="mb-3">Unlimited custom cmds</h3>
              <p class="mb-0">Create unlimited custom slash commands without configed response.</p>
            </div>
          </div>
        </div>

        
        <div class="col-lg-4 col-md-6">
          <div class="service-item bg-secondary-2">
            <div class="glow-wrap">
              <i class="glow"></i>
            </div>
            <div class="content text-center px-5">
              <div class="icon-wrapper d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                <i class="fa fa-user-friends fa-2x"></i>
              </div>
              <h3 class="mb-3">Safe and Secure</h3>
              <p class="mb-0">Our bot is fully secured with its data! only the bot developer can access and modify.</p>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6">
          <div class="service-item bg-secondary-2">
            <div class="glow-wrap">
              <i class="glow"></i>
            </div>
            <div class="content text-center px-5">
              <div class="icon-wrapper d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                <i class="fa fa-chart-area fa-2x"></i>
              </div>
              <h3 class="mb-3">Support</h3>
              <p class="mb-0">Support ticket can be created at our discord server, any help regarding a code or ferren modules will be provided!</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="service-item bg-secondary-2">
            <div class="glow-wrap">
              <i class="glow"></i>
            </div>
            <div class="content text-center px-5">
              <div class="icon-wrapper d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                <i class="fa fa-ticket-alt fa-2x"></i>
              </div>
              <h3 class="mb-3">Adavance ticket system</h3>
              <p class="mb-0">Our bot has advance ticket system for your server! customizable message, transcript!</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Services End -->

    <!-- Stats -->
    <div class="container-fluid pt-6 px-5">
      <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 mb-0">Stat's!</h1>
        <hr class="w-25 mx-auto bg-primary">
      </div>
      <div class="row text-center g-5">
        <div class="col-lg-4 col-md-6">
          <div class=" br-5 text-center px-5">
            <div class="d-flex align-items-center justify-content-center bg-primary text-white mx-auto mb-4"></div>
            <h3 id="server-count" class="mb-3">Server Count: <%= data.guilds %></h3>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class=" br-5 text-center px-5">
            <div class="d-flex align-items-center justify-content-center bg-primary text-white mx-auto mb-4"></div>
            <h3 id="user-count" class="mb-3">User Count: <%= data.users %></h3>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class=" br-5 text-center px-5">
            <div class="d-flex align-items-center justify-content-center bg-primary text-white mx-auto mb-4"></div>
            <h3 id="data-base" class="mb-3">Database Ping: <%= data.databaseLatency%>MS</h3>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class=" br-5 text-center px-5">
            <div class="d-flex align-items-center justify-content-center bg-primary text-white mx-auto mb-4"></div>
            <h3 id="slash-cmd" class="mb-3">Slash Commands: <%= data.slashCommand %></h3>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class=" br-5 text-center px-5">
            <div class="d-flex align-items-center justify-content-center bg-primary text-white mx-auto mb-4"></div>
            <h3 id="prefix-cmd" class="mb-3">Prefix Commands: <%= data.prefixCommand %></h3>
          </div>
        </div>
      </div>
    </div>

    <!-- Stats end -->
    <%- include('team') %>

      <%- include('footer') %>



        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        </body>

</html>
